<!DOCTYPE html>
<html>
<head>
<title>R Language Verifier</title>
</head>
<body>
<form action="/R" method=POST>
Solution:<br />
<textarea name="source_code" rows="10" cols="80">factorial <- function(n)
{
  if (n == 0)
  {
    return(1)
  }
  else
  {
    return(n * factorial(n - 1))
  }
}</textarea>
<textarea name="tests" rows="10" cols="80">  checkEquals(6, factorial(3))
  checkEqualsNumeric(6, factorial(3))
  checkIdentical(6, factorial(3))
  checkTrue(2 + 2 == 4, 'Arithmetic works')
  checkException(log('a'), 'Unable to take the log() of a string')
</textarea>
<div class="submit">
<input type="submit" class="verify" value="Verify" />
</div>
</form>
</body>
</html>
